header{
  text-align: center;
  background-color: #3398fe;
  font-size: 30px;
}

.content{
  margin: 0 auto;
  width: 1040px;
  height: 100vh;
}

/* TABLET */
@media (min-width: 797px) and (max-width: 1040px) {
  .content{
    width: 100%;
    height: 100%;

  }
}

/* MOBILE */
@media (max-width: 797px) {
  .content{
    width: 100%;
    height: 100%;

    margin: 0 auto;
  }
}
