<h2>Создать аккаунт:</h2>

  <label for="login">логин:</label>
  <input type="text" name="login" id="login" [formControl]="username">
  <br>
  <label for="password">пароль:</label>
  <input type="password" name="password" id="password" [formControl]="password">
  <br>
  <!--
  <label for="password-again">повторите пароль:</label>
  <input type="password" id="password-again">
  <br>
  -->
  <button (click)="register()">зарегистрироваться</button>
  <br>
  <br>
  <br>
  У меня уже есть аккаунт -
  <a href="/login">Войти</a>

