
  <label for="x">X: </label>
  <select name="x" id="x" [formControl]="x">
    <option *ngFor="let xVal of xValues" [value]="xVal">{{xVal}}</option>
  </select>
  <br>

  <label for="y">Y: </label>
  <input type="text" id="y" [formControl]="y">
  <br>

  <label for="r">R: </label>
  <select name="r" id="r" [formControl]="_r">
    <option *ngFor="let rVal of rValues" [value]="rVal">{{rVal}}</option>
  </select>

  <button (click)="submit()">Отправить</button>
  <button (click)="reset()">Очистить</button>
